*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 240, 252);
}
#gotop{
  position: relative;
}
#gotop img{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
#hyou{
  background: url(img/homepage/topbg.jpg)no-repeat;
  background-size: contain;
  /* text-indent: 100%; */
  width: 100px;
  height: 100px;
  filter: drop-shadow(3px 3px 5px #fff);
  position: absolute;
  left: 15%;  top:33% ;
}

#nav{
  width: 100%;
  min-height: 100%;
  /* background: url(./img/首頁/IMG_3791.png)no-repeat fixed; */
  background-size: cover;
  padding-bottom: 5px;
  /* padding-left: 9px; */
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 50px;
  position: relative;
}
#nav img{
  width: 100%;
  /* background-size: cover; */
}
nav a{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(108, 113, 143);
  }
section{
  width: 100%;
  /* min-height: 100vh; */
  padding-top: 50px;
}
h2{
  /* width: 400px;
  height: 100px; */
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 200px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.logo{
  background:url(img/homepage/h2-e.png)no-repeat;
  background-position: left;
  filter: drop-shadow(3px 3px 5px #000000);
  width: 600px;
  height: 30px;
}

.digital{
  background:url(./img/homepage/h2-a.png)no-repeat;
  filter: drop-shadow(3px 3px 5px #000000);
  height: 100px;
}
.painting {
  background: url(img/homepage/h2-b.png) no-repeat;
  /* width: 600px; */
  height: 100px;
  padding-top: 95px;
  filter: drop-shadow(3px 3px 5px #000000);
}
.japan{
  background: url(img/homepage/h2-c.png)no-repeat;
  padding-top: 30px;
  filter: drop-shadow(3px 3px 5px #000000);
  height: 70px;

}
.aus{
  background: url(img/homepage/h2-d.png)no-repeat;
  filter: drop-shadow(3px 3px 5px #000000);
  height: 65px;
  padding-top: 75px;
}

.korea{
  background: url(img/homepage/h2-d.png)no-repeat;
  filter: drop-shadow(3px 3px 5px #000000);
  height: 65px;
  padding-top: 75px;
}

  
 
  #logo div {
    width: 80%;
    min-height: 100%;
   margin: auto;
   display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
    justify-content:center;
    /* padding: 30px; */
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #logo img{
    width: 85%;
    margin: 8px; 
  /* box-shadow: 8px 10px 5px #000000; */
  filter: drop-shadow(5px 5px 5px #000000);
  
  border-radius: 3px;
  }

  #package div {
    width: 80%;
    min-height: 100%;
   margin: auto;
   display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
    justify-content:center;
    /* padding: 30px; */
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #package img{
    width: 85%;
    margin: 8px; 
  /* box-shadow: 8px 10px 5px #000000; */
  filter: drop-shadow(5px 5px 5px #000000);
  
  border-radius: 3px;
  }


/* #graphic{
  width: 100%;
} */
#digital div {
  width: 80%;
  min-height: 100%;
 margin: auto;
 display: flex;
flex-wrap: wrap;
/* flex-direction: row; */
  justify-content:center;
  /* padding: 30px; */
  padding-bottom: 30px;
  padding-top: 30px;
}
#digital img{
  width: 80%;
  margin: 8px; 
/* box-shadow: 8px 10px 5px #000000; */
filter: drop-shadow(5px 5px 5px #000000);

border-radius: 3px;
}


#painting div{
  position: relative;
  width: 90%;
  min-height: 2800px;
  margin: auto;
}
#painting img{
position: absolute;
width: 95%;
  top: 0;
  left: 0;
  filter: drop-shadow(5px 5px 5px #000000);
  margin: auto;
}
#japan div{
  width: 100%;
  min-height: 100vh;;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px;
}
#japan img{
  box-shadow: 8px 8px 10px #000000;
  margin: 10px;
  border-radius: 5px;
}

#aus div{
  width: 100%;
  min-height: 100vh;;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
#aus img{
  box-shadow: 8px 8px 10px #000000;
  margin: 10px;
  border-radius: 5px;
}
#korea div{
  width: 100%;
  min-height: 100vh;;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
#korea img{
  box-shadow: 8px 8px 10px #000000;
  margin: 10px;
  border-radius: 5px;
}


footer {
  background: #000000;
   width: 100%;
  min-height: 100px;
  color: aliceblue;
}
footer {
  text-align: center;
  height: 50px;
  font-size: 1.5em;
  color: white;
  padding: 20px;
}
